@charset "utf-8";
/* CSS Document */




/*a:hover{color:#ff6600;text-decoration:none;}*/
input{vertical-align:middle;}
 em{font-style:normal;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clear{height:0px;line-height:0px;clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
*+html .clearfix{overflow:hidden;}
* html .clearfix{height:1%;}
.f-cb{*zoom:1;}
.wk_show{display:block;}
.wk_hide{display:none;}
.positionR{position:relative !important;zoom:1;}
.positionA{position:absolute;}
.f-lay{font-size:0;letter-spacing:-8px;text-align:left;}
.f-ib{display:inline-block;*display:inline;*zoom:1;vertical-align:top;font-size:12px;letter-spacing:normal;}
/* font */
.w1000{width:1000px !important;margin:0 auto;}

/*main*/
.ct-banner{width:100%;margin:0 auto; display:block}
.ct-focusbox{position:relative;overflow:hidden;}
.ct-focusimg{overflow:hidden;}
.ct-fimglist{position:relative;}
.ct-fimglist img{display:block;}
.ct-fimglist li{width:100%;float:left; overflow:hidden}


.ct-focustool{overflow:hidden;position:relative;top:-97px;height:54px;}
.ct-ftoollist{position:relative;margin-left:320px;}
.ct-ftoollist li{width:121px;height:54px;float:left;cursor:pointer; margin-left:10px;overflow:hidden}
.ct-ftoollist .on a{width:119px;height:52px;display:block;margin-right:-4px;z-index:100;top:-5px;border:1px solid #FFF; overflow:hidden}